<html>
    <body>
        <p ng-show="data.showText['five'].function() === 6">
            <table ng-required="!user.wantsData()">
            </table>
            <div ng-if="showDiv">
                <button ng-click="triggerAction('six')" value="{{'CLICK_ME' | translate}}" />
                <button value="{{ 'CLICK_ME'|translate }}" />
            </div>
            <img ng-src="{{url}}" alt="Description" />
            <img ng-src="http://www.gravatar.com/avatar/{{hash}}" alt="Description" />
            <input type="text" ng-model="data.firstname" maxlength="{{maxlength}}">
            <div data-ng-repeat="group in data.groups track by group.id">
                <div data-ng-repeat="item in group track by $index">
                    <input type="text" ng-model="item.name + ' ' + user.wantsData()" ng-change="triggerAction('five')">
                    {{$index + 1}}
                    {{$first ? "first" : "not first!"}}
                </div>
                The max length is {{maxlength | formatNumber: 'hex'}}.
            </div>
            <div>
                Recursive expression parsing result: {{ boolean1 && !boolean2 || boolean3 }}
                Some complex expression parsed: {{ 'a' + 2 + 'b' }}
                Some complex expression parsed: {{ user + '/' + user }}
                Complex ternary operator: {{ 'a' === user.wantsData() ? 'equal' : 'not equal'  }}
                Nested ternary operator: {{ boolean1 ? 'str a' : boolean2 ? 'str b' : 'str c' }}
                Nested ternary operator variant 2: {{ !boolean1 ? boolean2 ? 'str b' : 'str c' : 'str a'  }}
                {{(card.storedValue/100).toFixed(2)}}
                Limited string: {{ "brown fox jumps over the lazy dog" | limitTo: 10 }}
                Limited array: {{ data.groups | limitTo: 3 }}
            </div>
            <div data-ng-repeat="group in data.groups | orderBy: 'field'">
                ng-model="should.not-match"
                <span ng-bind-html="maintenanceTask.instructions | linky:'_blank' | translate"></span>
                This {{group}} should be taken from the local variable, not from the scope.
            </div>
            This {{group}} should be taken from the scope, not as a local variable.
            <div ng-bind="data.groups | orderBy: 'field' | filter: {field: user}"></div>
            </p>
            <ui-select close-on-select="true" style="width: 200px"
                       class="control-label" ng-model="data" style="width: 300px;">
                <ui-select-choices
                    repeat="subtype in data.groups| orderBy: 'nameAndCountry'">
                    {{subtype.name}}
                </ui-select-choices>
                <ui-select-match placeholder="- NONE -">
                    {{$select.selected.firstname}} {{$item.firstname}}
                </ui-select-match>
            </ui-select>
           <select ng-options="item.subItem as item.label for item in data.groups | orderBy:'labelSort'" ng-model="user"></select>
           <select ng-options="item.subItem | translate for item in data.groups track by item.id" ng-model="user"></select>
           <div ng-switch on="showDiv">
               <div ng-switch-when="data.firstname|maxlength" ng-switch-when-separator="|">Settings Div</div>
               <div ng-switch-when="user">Home Span</div>
               <div ng-switch-default>default</div>
           </div>
           <div ng-repeat-start="curGrp in data.groups" ng-repeat-end>
               {{curGrp.name}}
           </div>
           <ui-select multiple ng-model="editObject.assignedUserTypes" style="width: 100%;" name="userTypes">
               <ui-select-choices repeat="user.typeId as user in itemsData.activeUserTypes | filter: {desc: $select.search, combinedUser:false}">
                   {{user.desc}}
               </ui-select-choices>
               <ui-select-match placeholder="Select User Type">{{item.desc}}</ui-select-match>
           </ui-select>
           <select ng-options="status.name as (status.name | translate) for status in adminStatusList"></select>
           {{actualConfigs[cfg.type] === "1" ? cfg.configs.test : (actualConfigs[cfg.type] === "0" ? cfg.configs.fleet : '')}}
    </body>
</html>
