<html>
    <body>
        <p ng-show="data.showText['five'].function() === 6">
            <table ng-required="!user.wantsData()">
            </table>
            <div ng-if="showDiv">
                <button ng-click="triggerAction('six')" value="{{'CLICK_ME' | translate}}" />
                <button value="{{ 'CLICK_ME'|translate }}" />
            </div>
            <input type="text" ng-model="data.firstname" maxlength="{{maxlength}}">
            <div data-ng-repeat="group in data.groups track by group.id">
                <div data-ng-repeat="item in group track by $index">
                    <input type="text" ng-model="item.name + ' ' + user.wantsData()" ng-change="triggerAction('five')">
                    {{$index + 1}}
                    {{$first ? "first" : "not first!"}}
                </div>
                The max length is {{maxlength | formatNumber: 'hex'}}.
            </div>
            <div data-ng-repeat="group in data.groups | orderBy: 'field'">
                ng-model="should.not-match"
                <span ng-bind-html="maintenanceTask.instructions | linky:'_blank' | translate"></span>
            </div>
            <div ng-bind="data.groups | orderBy: 'field' | filter: {field: user}"></div>
            </p>
            <ui-select close-on-select="true" style="width: 200px"
                       class="control-label" ng-model="data" style="width: 300px;">
                <ui-select-match placeholder="- NONE -">
                    {{$select.selected.firstname}}
                </ui-select-match>
                <ui-select-choices
                    repeat="subtype in data.groups| orderBy: 'nameAndCountry'">
                    {{subtype.name}}
                </ui-select-choices>
            </ui-select>
           <select ng-options="item.subItem as item.label for item in data.groups | orderBy:'labelSort'" ng-model="user"></select>
           <select ng-options="item.subItem | translate for item in data.groups track by item.id" ng-model="user"></select>
           <div ng-switch on="showDiv">
               <div ng-switch-when="data.firstname|maxlength" ng-switch-when-separator="|">Settings Div</div>
               <div ng-switch-when="user">Home Span</div>
               <div ng-switch-default>default</div>
           </div>
    </body>
</html>
