<html>
    <body>
        <p ng-show="data.showText['five'].function() === 6">
            <table ng-required="!user.wantsData()">
            </table>
            <div ng-if="showDiv">
                <button ng-click="triggerAction('six')" value="{{'CLICK_ME' | translate}}" />
            </div>
            <input type="text" ng-model="data.firstname" maxlength="{{maxlength}}">
            <div data-ng-repeat="group in data.groups">
                <div data-ng-repeat="item in group">
                    <input type="text" ng-model="item.name + ' ' + user.wantsData()">
                </div>
                The max length is {{maxlength | formatNumber: 'hex'}}.
            </div>
            ng-model="should.not-match"
        </p>
    </body>
</html>
